body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    padding-top: 50px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 3.0rem;
    font-family: 'Great Vibes', cursive;
    color: #66BFBF;
}

h2 {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #66BFBF;
}

h3 {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #11999E;
}

p {
    line-height: 2;
    color: #40514E;
}

a {
    color: #11999E;
    line-height: 2;
    margin: 2.0em;
}

hr {
    border: 5px none #EAF6F6;
    border-top-style: dotted;
    width: 5%;
    margin: 5.0em auto;
}

.main_subtitle {
    font-weight: normal;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.image1 {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.image2 {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.top_container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 10%;
}

.middle-container {
    margin-top: 3.0em;
}

.bottom_cloud {
    position: absolute;
    left: 25%;
    bottom: 40%;

}

.top_cloud {
    position: absolute;
    top: 10%;
    right: 25%
}

.contact-me {
    padding-bottom: 2.0em;
}

.bottom-container {
    padding-top: 3.0em;
    background-color: #66BFBF;
    padding-bottom: 2.0em;
}

.copyright {
    color: #EAF6F6;
    padding-top: 1.5em;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 80;
    padding: 15px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
